


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>반석웹</title>
    
    <h1> ch2 공사중...</h1>
    <h2> 단어 ...</h2>
    <button type="button" class="btn btn-primary btn-lg">Test button</button>
    <button type="button2" class="btn btn-secondary btn-lg">Next button</button>
    <p id="counter">Loading button click data.</p>
    <button id="myButton">Click me!</button>
    <script src="client2.js"></script>

</html>





